POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>

POSTGRES_HOST=db
POSTGRES_PORT=5432
DEV_POSTGRES_DB=webpartytime-dev
DEV_POSTGRES_PORT=5430
PROD_POSTGRES_DB=webpartytime-prod
PROD_POSTGRES_PORT=<5430

JWT_SECRET=<secret-here>
